/* ECKit Version 2.1.0
*  @name:ECKit
*  @author:ECWebServices
*  @version:2.1.0
*/
/* Reset.css by ECWebServices.
*  Use is under MIT License.
*/

/*  Hello, ECKit is a framework that mainly specializes
*   in styling as well as a major grid system. It is very
*   easy to use.
*/

/*  Your ECKit version is the 12 column version.
*   to another version. Now building using less.
*/

@import 'variables';

/* RESET */
@import 'reset';

/*12 COLUMN ECKit */
@import 'eckit12col';

/*COLORS */
@import 'colors';

/*Customize ECKit using by commenting out certain pieces in _customizec.scss */
@import 'customizec';

/*Special and Optionals*/
/*@import 'addons' Need*/

/*SPECIALTY SETTINGS */
@import 'settings';

/* Example CSS */

header{
	min-height: 60px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    &:hover {
      background-color: #f1f1f1;
    }
  }
}


article, aside{
	min-height: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left:5px;
}

footer{
	min-height: 25px;
	text-align: right;
	padding-top:3px;
	padding-right: 5px;
	padding-bottom:5px;
}